h6{font-size: 5vw !important;
font-weight: 300;}


h8{
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 8vh;
}
h9{
    font-size: 2vw;
}


.pageAbout{
    background-color: #f7fff7;
    height: 120vh;
}
.profilePiCol {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profilePic{
width:100%;
border-radius: 50%;
margin-top: 6vh !important;
border: solid #2f3061 2px;
}
   .aboutMeTitleText{
display: flex;
align-items: center;
justify-content: center;
margin-top: 6vh !important;
   }
   .aboutSumText1,
   .aboutSumText2,
   .aboutSumText3
   {
    text-align: center;
    margin-bottom: 3vh;
   }
   .aboutSumText1,
   .aboutSumText3{
    color: #2f3061;
   }
   .aboutSumText2{
    color:343434 ;
   }
   .techText {
   display: flex;
   justify-content: center;
   margin-top: 2vh;
   }
   .technicalLogoPic{
    width: auto !important;
    height:20vh;
   
   }
   .technicalText{
    margin-left: 5vh!important;
   }

   @media screen and (max-width: 576px) {
	.pageAbout{
		
		height: 170vh;

		
	}
    .technicalText{
        margin-left: 0!important;
       }
 .technicalLogoPic{
    width: auto !important;
    height:8vh;
}
   }

@media (max-width:1000px) {
	.pageAbout{
		
		height: 200vh;
		
	}
    .technicalText{
        margin-left: 0!important;
       }
    .technicalLogoPic{
        width: auto !important;
        height:6vh;
    }
}