

#grovePic {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5vh;
    border: solid #343434 1vh;
    width: 50%;
    padding: 0 !important;
}
.caption{
    text-align: center;
    margin-bottom: 6vh;
}
.summary {
    text-align: center !important;
    margin-bottom: 6vh;
}
.employmentPic{
    width: auto !important;
    height:20vh;
    margin-left: auto !important;
    margin-right: auto !important;
}
.quoteDiv {
    background-color:#FFE66D ;
    text-align: center;
    border-radius: 50%;
    margin-top: 3vh !important;
}
.pageAbout{
    background-color: #f7fff7;
    height: 120vh;
}
@media screen and (max-width: 576px) {
	.pageAbout{
		
		height: 200vh;

		
	}
    .employmentText{
        margin-left: 0!important;
       }
 .employmentPic{
    width: auto !important;
    height:6vh;
}
   }

@media (max-width:1000px) {
	.pageAbout{
		
		height: 200vh;
		
	}
    .employmentText{
        margin-left: 0!important;
       }
    .employmentPic{
        width: auto !important;
        height:8vh;
    }
}