.textProjectsHeader {
    font-size: 2vw;
    color: #2f3061;
    text-align: center;
    padding-top: 6vh;
    
}
.textProjectsHeader2 {
    font-size: 2vw;
    color: #2f3061;
    text-align: center;
    padding-bottom: 6vh;
}