a {
    font-size: 1.2vw;
}

.footer
{

    background-color: #b8336a;
    height: 15vh;
   
}

#phone,
#email,
#linkedin,
#github {
    margin-right: 6vh;
}

.copyright{
    margin-right: 35vh;
}
#logoNav {
    height:100%;
    margin-left: 10vh;

}
@media screen and (max-width: 576px) {
   

    .footer
    {
height: auto;
    }
    #logoNav {
        height:15vh;
        margin-left: 18vh;
       
    
    }
}