h1 {

font-family: Georgia, 'Times New Roman', Times, serif; 
color: #2f3061;   
padding-top: 3vh;
font-size: 1.8vw !important;

}

.selected{
    color:#6CA6C1;
}

#connect-nav-dropdown{
    color: #2f3061;
    font-size: 1.8vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
  

}




.navigation{

    background-color: #6CA6C1;
  
    height: 25vh;
}
.home,
.about,
.resume,
.projects,
#projects-nav-dropdown,
#connect-nav-dropdown
 {
    
    margin-right: 3vh;
    
    
 }




@media screen and (max-width: 576px) {
    #projects-nav-dropdown,
    #connect-nav-dropdown{
        font-size:4.5vw;
    }
    #logoNav {
        margin-left: auto;
        margin-right: auto;
        
    }
.navigation {
    height: auto;
}
}
@media (max-width:1000px)  {

   
    #connect-nav-dropdown{
        font-size:4.5vw;
    }
    #logoNav {
        margin-left: auto;
        margin-right: auto;
        height:25vw    }
.navigation {
    height: auto;
}
}

